@import "palette.less";
@import "mixins.less";
@pad: 1rem;
@color-back: @palette-Teal-50;
@color-accent: @palette-Lime-A200;
h1,h2,h3,h4,h5,h6 {
	color: @palette-Grey-800;
	margin: 0.6em 0 0.3em;
}


[class~="btn-bordered"] {
	background-color: transparent;
	border: 1px solid transparent;
}
[data-action] {
	cursor: pointer;
}
.container {
	padding: 0 @pad*2.5;
}


.btn {
	&:focus {
		outline: none;
		box-shadow: 0 @pad/4 @pad -@pad/4 @color-accent;
	}
	&:active {
		outline: none;
		box-shadow: 0 @pad/4 @pad -@pad/4 fadeout(@color-accent,50%);
	}
	 &:focus:active {
	 	outline: none;
		box-shadow: 0 @pad/4 @pad -@pad/4 fadeout(@color-accent,50%);
	 }
}

.btn-bordered-accent {
	background-color: @color-accent;
	color: @palette-Teal-500;
	border-color: @color-accent;
}

.btn-bordered-default {
	background-color: @color-back;
	color: @palette-Teal-500;
}

a {
	color: @palette-Green-A700;
	&:hover {
		color: @palette-Green-A400;
	}
}
.no-list() {
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
	}
}
.acc-debug {
	position: fixed;
	z-index: 999;
	opacity: 0;
	left: 0;
	bottom: 0;
	// background-color: rgba(255, 255, 255, 0.1); 
	font-size: .75em;
	padding: @pad/2;
	overflow: hidden;
	// color: rgba(255, 255, 255, 0.5);
	width: 100%;
	ul {
		width: 33%;
		float: left;
		.no-list;
		li {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.title {
			width: @pad*4;
			display: inline-block;
		}
	}
}

html, body {
	background-color: @color-back;
	height: 100%;
	overflow: hidden;
}

.timer {
	position: fixed;
	bottom: 0;
	z-index: 1001;
	left: 0;
	right: 0;
	padding: @pad;
	white-space: nowrap;
	font-size: 2em;
	text-align: center;
	.clock {
		display: inline-block;
		.card;
		span {
			min-width: @pad*4;
			display: inline-block;
		}
	}
}

#app {
	height: 100%;
	position: relative;
	> .root {
		height: 100%;
		padding-top: @pad*5;
		position: relative;
		overflow-y: auto;
		-webkit-font-smoothing: touch;
	}
}
.card {
	border-radius: @pad/4;
	background-color: #fff;
	padding: @pad;
	height: 100%;
	box-shadow: 0 @pad/4 @pad/2 desaturate(@palette-Teal-100,20%);
	h4 {
		margin: @pad/4 0 @pad;
		padding: @pad/2 0;
		border-bottom: 1px solid @palette-Teal-100;
	}
	p {
		color: @palette-Grey-600;
		font-size: .85em;
	}
}
.themes {
	.no-list();
	display: flex;
	flex-wrap: wrap;
	margin: 0 -@pad/2*3;
	li {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 140px;
		padding: @pad/2;
		min-height: 140px;
	}
}
.navibar {
	background-color: @palette-Teal-500;
	color: @palette-Teal-50;
	position: fixed;
	z-index: 1001;
	left: 0;
	top: 0;
	right: 0;
	.buttons {
		padding: @pad;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
		color: @palette-Teal-50;
	}
	&::after {
		content: '';
		height: @pad/3;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		#gradient > .vertical(rgba(0,0,0,.2),rgba(0,0,0,0));
	}
}
#app-footer {
	padding: 0 @pad;
	position: absolute;
	right: 0;
	bottom: 0;
}
.result {
	font-size: 3em;
	overflow-y: auto;
	height: 100vh;
	position: relative;
	-webkit-overflow-scrolling: touch;
	&::before, &::after {
		content: '';
		position: fixed;
		left: 0;
		right: 0;
		height: @pad*2;
		z-index: 2;
		// background-color: rgba(0,0,0,.3);
	}
	&::before {
		top: 0;
		#gradient > .vertical(@color-back,fadeout(@color-back,100%));
	}
	&::after {
		bottom: 0;
		#gradient > .vertical(fadeout(@color-back,100%), @color-back);
	}
	i {
		font-size: .5em;
	}
}
.game-content {
	text-align: center;
	display: flex;
	height: 100%;
	align-items: center;
	padding-bottom: @pad*5;
	justify-content: center;
	.transition(all 300ms);
	&.correct {
		background-color: fadeout(@palette-Light-Green-A200,20%);
		color: @palette-Green-600;
		border-radius: @pad;	
		&.swiped {
			.translate(0, 100%);
			opacity: 0;
		}
	}
	&.pass {
		background-color: fadeout(@palette-Red-A200,0%);
		color: @palette-Red-600;
		border-radius: @pad;	
		&.swiped {
			.translate(0, -100%);
			opacity: 0;
		}
	}
	.word-container {
		padding: 0 @pad;
		background-color: @palette-Teal-300;
		margin: @pad auto;
		border-radius: @pad/2;
		height: 8em;
		line-height: 8em;
		color: #fff;
		overflow-y: auto;
		// overflow-x: hidden;
		min-width: @pad*20;
	}
	h1 {
		text-align: center;
		// font-variant: small-caps;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0;
		font-size: 3.4em;
		color: inherit;
		line-height: inherit;
	}
	.btn {
		max-width: @pad*20;
		margin: 0 auto;
		padding: @pad*2 @pad*5;
		// background-color: transparent;
		&.btn-super-danger {
			border-color: @palette-Red-300;
			color: @palette-Red-600;
			background-color: rgba(255, 255, 255, 0.1);
		}
		&.btn-super-success {
			border-color: @palette-Green-200;
			background-color: rgba(255, 255, 255, 0.1);
			color: @palette-Green-600;
		}
	}
}
ul {
	.transition(all 100ms);
	transform-style: preserve-3d;
	perspective: 500px;
}
.list-settings-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.input {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 8em;
		position: relative;
		input {
			text-align: right;
			padding-right: @pad*4;
		}
		.measure {
			color: @palette-Blue-Grey-200;
			position: absolute;
			right: 0;
			width: @pad*4;
			padding-left: 0.1em;
			bottom: 7px;
			margin: 0;
		}
	}
	.name {
		flex-grow: 3;
		flex-shrink: 0;
		.title {
			font-size: 1.2em;
			color: @palette-Blue-Grey-800;
		}
		.description {
			color: @palette-Blue-Grey-500;
		}
	}
}